.boxCorpo
{
    margin-top: 20px;
	position: relative;
	width: 500px;
	height: 550px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.boxCorpo::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 500px;
	height: 550px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#f8f6f6, #f8f6f6);
	animation: animate 6s linear infinite;
}
.boxCorpo::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 500px;
	height: 550px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#f8f6f6,#f8f6f6);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

form{
    position: absolute;
    inset: 2px;
	background: #28292d;
	border-radius: 8px;
    z-index: 2;
}

h2{
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
    padding: 20px;
}

.boxCorpo p{
    color: #ffffff;
    margin-top: 10px;
    text-align:justify;
    padding: 0 10px;
}

.tamanhoImagemCard{
	width:450px ;
	border-radius: 8px;
}

@media (max-width:600px){
	.boxCorpo
	{
		margin-top: 20px;
		position: relative;
		width: 350px;
		height: 550px;
		background: #1c1c1c;
		border-radius: 8px;
		overflow: hidden;
	}
	.boxCorpo::before 
	{
		content: '';
		z-index: 1;
		position: absolute;
		top: -50%;
		left: -50%;
		width: 350px;
		height: 550px;
		transform-origin: bottom right;
		background: linear-gradient(0deg,transparent,#f8f6f6, #f8f6f6);
		animation: animate 6s linear infinite;
	}
	.boxCorpo::after 
	{
		content: '';
		z-index: 1;
		position: absolute;
		top: -50%;
		left: -50%;
		width: 350px;
		height: 550px;
		transform-origin: bottom right;
		background: linear-gradient(0deg,transparent,#f8f6f6,#f8f6f6);
		animation: animate 6s linear infinite;
		animation-delay: -3s;
	}


	.tamanhoImagemCard{
		width:300px ;
	}
}